*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    margin: 0px;

    color: #FFFFFF;
}

button {
    border: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    padding: 0px 20px;
}

a {
    display: block;
    text-decoration: none !important;
    color: white;
}

a:hover {
    color: white;
}

.main__bg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/main_bg.webp');
}

header {
    padding-top: 30px;
    background-repeat: no-repeat;
    background-image: url('./images/header_bg.webp');
    min-height: 570px;
}

.nav-button {
    display: inline-flex;
    position: relative;
    z-index: 1001;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.nav-button .menu-icon-close {
    display: none;
    fill: white
}

.nav-button.is-open .menu-icon-close {
    display: block;
    fill: white;

}

.nav-button.is-open .menu-icon-open {
    display: none;
    fill: white
}

.menu {
    display: none;
}

.menu.is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #3a664d;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: 20%;
    z-index: 1000;
    overflow-x: hidden;
}

.menu.is-open li {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 30px;
}

.burger__menu {
    width: 40px;
    height: 40px;
}

.action__wrapper {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switcher {
    display: none;
}

.swiper-pagination-bullet-active {
    background-color: #40CA68 !important;
    transform: scale(1.4);
}

.swiper-button-prev {
    color: #40CA68;
}

.swiper-button-next {
    color: #40CA68;
}

.swiper-wrapper {
    padding-bottom: 40px;
}

.swiper-pagination{
    bottom: 0px !important;
}

h1 {
    margin-top: 14px;
    margin-bottom: 40px;
    max-width: 330px;
    min-height: 168px;

    font-weight: 500;
    font-size: 59px;
    line-height: 74px;
}

@keyframes expand {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

h1>span {
    animation: expand .5s ease-in-out;
}

h2 {
    font-size: 25px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    text-align: center;

    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
}


@media screen and (min-width: 320px) {
    h1 {
        font-size: 69px;
        line-height: 84px;
    }

    h2 {
        font-size: 30px;
        line-height: 37px;
    }
}

.hero-btn {
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    padding: 9px;
    background: #D9D9D9;
    border-radius: 16px;
    color: #000000;
}

.hero-btn:hover {
    cursor: pointer;
}

.logo {
    width: 174px;
    height: 68px;
}

.about {
    background: linear-gradient(250.58deg, #272A2D 0.98%, #283630 31.25%, #294A35 93.43%);
    padding-bottom: 25px;
}

.about__img-wrapper {
    box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    overflow: hidden;

    margin-bottom: 30px;
}

.about__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 20px;
}

.btn__secondary {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #B4B4B4;
    background-color: transparent;
    margin: 0 auto;
}

.btn__secondary:hover {
    cursor: pointer;
}

.btn__secondary-wrapper {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.mission__card {
    padding: 40px 30px 34px 30px;
    color: #000000;
    background: #CBDDD1;
    opacity: 0.8;
    border-radius: 23.3766px;
    text-align: left;

    min-height: 300px;
}

.mission__card h3 {
    margin-top: 0px;
}

.mission__title {
    font-weight: 500;
    font-size: 17.1429px;
    line-height: 19px;
}

.mission__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
}

.usage__card p {
    margin-top: 30px;
}

.usage__card img {
    max-height: 296px;
}

.cooperation {
    padding-bottom: 28px;
}

.cooperation__img {
    box-shadow: 0px 0px 14.6512px 6.51163px rgba(0, 0, 0, 0.25);
    border-radius: 24.4186px;
    overflow: hidden;
    max-width: 344px;
    margin: auto;
}

.cooperation p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #40CA68;
}

footer {
    padding: 21px 0px;
    background-color: #202D32;
}

footer h3 {
    margin-top: 0px;
}

.social-list {
    display: grid;
    grid-gap: 20px;
}

.social-list img {
    width: 30px;
    height: 30px;
}

.social-list li {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    grid-gap: 20px;
}

.footer__content>div {
    margin-bottom: 20px;
}

.footer__logo {
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.people__card {
    border-radius: 23px;
    background: linear-gradient(0deg, #CDCDCD 0%, #858585 100%);
    overflow: hidden;
}

.people__img {
    width: 100%;
    height: 100%;
}

.flip-card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.desktop__people .people__info {
    display: none;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

.desktop__people .people__card:hover .people__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 23px;

    border-color: #40CA68;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.people__card span {
    font-weight: 400;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    display: inline-block;
    margin: auto;
}

.our-people-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.limited {
    height: 300px;
    overflow: hidden;
}

.isVisible {
    display: none;
}

@media screen and (max-width: 768px) {
    .cooperation__title:not(.hidden),
    .about__title:not(.hidden) {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    .hidden {
        display: none;
    }

    .about__wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .container {
        max-width: 715px;
        padding: 0px 15px;
        margin: auto;
    }

    .switcher {
        margin-right: 37px;
        display: flex;
        align-items: center;
        width: 70px;
        justify-content: space-between;
    }

    h1 {
        font-size: 97px;
        line-height: 118px;
        min-width: 400px;
        min-height: 236px;

    }

    .animation {
        animation: expand 0.5s steps(20);
        animation-iteration-count: 1;
    }

    h2 {
        text-align: left;
        font-size: 60px;
        line-height: 73px;
    }

    .hero-btn {
        font-size: 15px;
        line-height: 18px;
        padding: 16px 17px;
        border-radius: 30px;
        font-weight: 500;
    }

    header {
        background-image: url('./images/header_bg_desktop.webp');
        background-size: 100% 100%;
    }

    .about {
        padding-top: 45px;
    }

    .about__block h2 {
        padding-top: 0px;
        margin-bottom: 24px;
    }

    .about__block .about__img-wrapper {
        width: 344px;
        height: max-content;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about__text-block {
        width: 344px;
        margin-right: 34px;
    }

    .mission__card {
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        padding: 52px 38px 44px 38px;
        height: 100%;
    }

    .mission__text {
        font-size: 22px;
        line-height: 25px;
    }

    .mission__card:hover {
        border-color: #40CA68;
        cursor: pointer;
    }

    .usage__card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    .usage__card p {
        text-align: left;
    }

    .usage__card img {
        max-height: 342px;
        margin: auto 0;
    }

    .cooperation {
        padding-top: 50px;
    }

    .cooperation__img {
        min-width: 344px;
        min-width: 344px;
        height: max-content;
        margin: 0 0 0 34px;
    }

    .cooperation__img img {
        height: auto;
    }

    .cooperation h2 {
        grid-area: title;
        font-weight: 400;
        font-size: 50px;
        line-height: 61px;
        padding-top: 0px;
        margin-bottom: 27px;
    }

    .cooperation p {
        grid-area: subTitle;
        margin: 0px;
    }

    .cooperation .btn__secondary-wrapper {
        grid-area: btn;
    }

    .social-list {
        display: flex;
    }

    .footer__logo {
        display: block;
        width: 293px;
    }

    .footer__block {
        display: flex;
        justify-content: space-between;
    }

    footer {
        padding-top: 24px;
        padding-bottom: 44px;

    }
}

@media screen and (max-width: 1280px) {
    .desktop__people {
        display: none;
    }

    .hero__additional_img {
        width: 495.99px;
        height: 435px;
    }
}

@media screen and (max-width: 768px) {
    .hero__additional_img {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .nav-button {
        display: none;
    }

    .people__card {
        min-height: 384px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        width: 85%;
        margin: auto;
    }

    .burger__menu {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .action__wrapper {
        width: 100%;
        flex-direction: row-reverse;
    }

    .switcher {
        margin-right: 0px;
    }

    .container {
        max-width: 1216px;
        padding: 0px 32px;
        margin: auto;
    }

    h1 {
        margin-bottom: 46px;
        margin-top: 48px;
    }

    .about__block .about__img-wrapper {
        min-width: 560px;
        height: max-content;
    }

    .about__text-block {
        width: auto;
    }

    .mission__card {
        padding: 65px 47px 55px 47px;

    }

    .mission__text {
        font-size: 23px;
        line-height: 25px;
    }

    .usage__card img {
        max-height: 606px;
    }

    .mySwiper3 {
        display: none;
    }

    .desktop__people .desktop__people-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }

    .people__info h3,
    .people__info h4 {
        margin: 0px;
        max-width: 167px;
        margin: auto;
    }

    .people__info {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .people__info ul {
        max-width: 194px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }

    .people__info h3 {
        margin-bottom: 21px;
        font-weight: 700;
        font-size: 27px;
        line-height: 33px;

        color: #000000;
    }

    .people__info h4 {
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;

        color: #6C6C6C;
    }

    .social-item {
        width: 47px;
        height: 47px;
        background: #909090;
        border-radius: 50%;
        padding: 10px;
    }

    footer {
        padding-top: 44px;
    }

    .cooperation__img {
        min-width: 560px;
    }

    .cooperation .btn__secondary-wrapper{
        display: none;
    }
}